Olá! Tudo bem?
Muito obrigado por se cadastrar na RVP Representação!
Estes foram os dados que você nos forneceu para seu cadastro:

Empresa: {{ name }}
<br>
CNPJ: {{ cnpj }}
<br>
Inscrição Estadual: {{ insc_estadual }}
<br>
Telefone: {{ phone }}
<br>
E-mail: {{ email }}
<br>
Pessoa de Contato: {{ contact_person }}
<br>
Endereço: {{ address }}
<br>
Bairro: {{ neighborhood }}
<br>
Cidade: {{ city }}
<br>
Estado: {{ state }}
<br>
CEP: {{ zip }}


Agora falta muito pouco! Em até 24H seus dados serão validados.
Depois disso, enviaremos um novo e-mail informando seu login/senha para pedidos on-line.


Atenciosamente,
-------
RVP Representação