<html>
<body>
<p>Olá! Tudo bem?</p>
    <p>Muito obrigado por se cadastrar na RVP Representação!</p>
    <p>Estes foram os dados que você nos forneceu para seu cadastro:</p>

    Empresa: {{ name }}
    <br>
    CNPJ: {{ cnpj }}
    <br>
    Inscrição Estadual: {{ insc_estadual }}
    <br>
    Telefone: {{ phone }}
    <br>
    E-mail: {{ email }}
    <br>
    Pessoa de Contato: {{ contact_person }}
    <br>
    Endereço: {{ address }}
    <br>
    Bairro: {{ neighborhood }}
    <br>
    Cidade: {{ city }}
    <br>
    Estado: {{ state }}
    <br>
    CEP: {{ zip }}
    <br>

    <p>Agora falta muito pouco! Em até 24H seus dados serão validados.</p>
    <p>Depois disso, enviaremos um novo e-mail informando seu login/senha para pedidos on-line.</p>


    <p>Atenciosamente,
    <br>-------
        <br>RVP Representação</p>
</body>
</html>