{% extends 'base.html' %}
{% load static %}

{% block title %}<title>400. Requisição imprópria</title>{% endblock %}

{% block css %}<link href="{% static 'css/styles.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="errors" class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>400</h1>
                <h2>Requisição imprópria</h2>
                <p class="lead">A requisição enviada não pode ser atendida.</p>
            </div><!-- end ERRORS -->
        </div><!-- end ROW -->
    </div><!-- end CONTAINER -->
{% endblock %}