{% extends 'base.html' %}

{% block title %}<title>403. Proibido</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="errors" class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>403</h1>
                <h2>Proibido</h2>
                <p class="lead">Você não tem permissão para acessar este endereço.</p>
            </div><!-- end ERRORS -->
        </div><!-- end ROW -->
    </div><!-- end CONTAINER -->
{% endblock %}