{% extends 'base.html' %}
{% load static %}

{% block title %}500. Erro interno inesperado{% endblock %}

{% block css %}<link href="{% static 'css/styles.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="errors" class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>500</h1>
                <h2>Erro interno inesperado</h2>
                <p class="lead">Desculpe. Ocorreu um erro inesperado.</p>
                <p class="lead">Nossa equipe já foi notificada do problema.<br />
                   Caso necessário entre em contato com <a href="mailto:rvprepresentacao@gmail.com?subject=500 Erro interno inesperado">rvprepresentacao@gmail.com</a></p>
            </div><!-- end ERRORS -->
        </div><!-- end ROW -->
    </div><!-- end CONTAINER -->
{% endblock %}