{% extends 'base.html' %}

{% block content %}
<!-- REGIONAL AREA -->
<section id="area">
    <div class="sponsors text-align-center row desktop-12 padding-top-2 min-h-14 container">
        <i class="fa fa-5x fa-car" style="color:#3498db"></i>
        <h2>Área de Atendimento</h2>
        <h3>Norte e Noroeste Fluminense - RJ</h3>
        <div class="desktop-4"><h5>Aperibé</h5></div>
        <div class="desktop-4"><h5>Bom Jesus do Itabapoana</h5></div>
        <div class="desktop-4"><h5>Cambuci</h5></div>
        <div class="desktop-4"><h5>Campos dos Goytacazes</h5></div>
        <div class="desktop-4"><h5>Cardoso Moreira</h5></div>
        <div class="desktop-4"><h5>Itaocara</h5></div>
        <div class="desktop-4"><h5>Itaperuna</h5></div>
        <div class="desktop-4"><h5>Italva</h5></div>
        <div class="desktop-4"><h5>Laje do Muriaé</h5></div>
        <div class="desktop-4"><h5>Miracema</h5></div>
        <div class="desktop-4"><h5>Natividade</h5></div>
        <div class="desktop-4"><h5>Porciúncula</h5></div>
        <div class="desktop-4"><h5>Santo Antonio de Pádua</h5></div>
        <div class="desktop-4"><h5>São Fidélis</h5></div>
        <div class="desktop-4"><h5>São Francisco do Itabapoana</h5></div>
        <div class="desktop-4"><h5>São João da Barra</h5></div>
        <div class="desktop-4"><h5>Varre-Sai</h5></div>
    </div>
</section>
{% endblock %}