{% extends 'base.html' %}

{% block canonical %}
    <link rel="canonical" href="http://www.rvprepresentacao.com.br/area">
{% endblock %}

{% block title %}Área de Atuação - RVP Representação{% endblock %}

{% block content %}
<div id="area" class="container">
    <h2>Norte e Noroeste Fluminense - RJ</h2>
    <br><br>
    <div class="col-md-offset-2 col-md-4">
        <table  id="area-table-1" class="table table-striped">
            <tbody>
                <tr><td><h4>Aperibé</h4></td></tr>
                <tr><td><h4>Bom Jesus do Itabapoana</h4></td></tr>
                <tr><td><h4>Cambuci</h4></td></tr>
                <tr><td><h4>Campos dos Goytacazes</h4></td></tr>
                <tr><td><h4>Cardoso Moreira</h4></td></tr>
                <tr><td><h4>Itaocara</h4></td></tr>
                <tr><td><h4>Itaperuna</h4></td></tr>
                <tr><td><h4>Italva</h4></td></tr>
                <tr><td><h4>Laje do Muriaé</h4></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table id="area-table-2" class="table table-striped">
            <tbody>
                <tr><td><h4>Miracema</h4></td></tr>
                <tr><td><h4>Natividade</h4></td></tr>
                <tr><td><h4>Porciúncula</h4></td></tr>
                <tr><td><h4>Santo Antonio de Pádua</h4></td></tr>
                <tr><td><h4>São Fidélis</h4></td></tr>
                <tr><td><h4>São Francisco do Itabapoana</h4></td></tr>
                <tr><td><h4>São João da Barra</h4></td></tr>
                <tr><td><h4>Varre-Sai</h4></td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}