{% extends 'base.html' %}

{% block canonical %}
    <link rel="canonical" href="http://www.rvprepresentacao.com.br/clientes/">
{% endblock %}

{% block title %}Área de Clientes - RVP Representação{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Área de Clientes</h2>
    <br><br>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span class="sr-only">40% Complete</span>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="soon" class="col-md-offset-4 col-md-4">
            Em breve
        </div>
    </div>
</div>
{% endblock %}