<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 footer-text">
                2017 © Todos os direitos reservados RVP Representa&ccedil;&atilde;o
            </div>
            <div id="right-footer" class="col-xs-12 col-sm-5 footer-text">
                Desenvolvido por <a href="mailto: tonare@gmail.com">RP7 Development</a>
            </div>
        </div><!-- end ROW -->
    </div><!-- end CONTAINER -->
</footer><!-- end FOOTER -->

<!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
