{% extends 'base.html' %}
{% load static %}

{% block canonical %}
    <link rel="canonical" href="http://www.rvprepresentacao.com.br/">
{% endblock %}

{% block mtitle %}RVP Representação{% endblock %}
{% block title %}RVP Representação{% endblock %}

{% block css %}<link href="{% static 'css/styles.css' %}" rel="stylesheet">{% endblock %}


{% block content %}
    <div class="container-carousel">
        <div id="main-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../static/img/sl01_durin.png" alt="Dur&iacute;n Acess&oacute;rios e Conex&otilde;es">
                </div>
                <div class="item">
                    <img src="../static/img/sl02_gamma.png" alt="KLMx Metais">
                </div>
                <div class="item">
                    <img src="../static/img/sl03_klmx.png" alt="Gamma Ferramentas">
                </div>
            </div><!-- end CAROUSEL-INNER -->
        </div><!-- end MAIN-CAROUSEL -->
    </div><!-- end CONTAINER-CAROUSEL -->

    <div class="container">
        <div id="blog-section" class="row">
            <h4 class="col-sm-offset-3 col-sm-6">últimas notícias</h4>
        </div>

        <div id="blog-data" class="row">
            {% for blog in blog_preview %}
                <div class="col-xs-12 col-md-4">
                    <h4 class="text-justify"><a href="noticia/{{ blog.slug }}">{{ blog.title }}</a></h4>
                    <p class="text-justify">{{ blog.preview }}<a href="noticias/{{ blog.slug }}"> ...leia mais</a></p>
                </div>
            {% endfor %}
        </div><!-- end BLOG -->
    </div>
{% endblock %}