<header class="header header-inline min-h-3 row desktop-12 container" role="banner">
<!--
    <div class="site-logo">
        <h1><a href="/" rel="home">RVP Representação</a></h1>
    </div>
-->
    <nav class="nav-inline" role="navigation">
        <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
        <ul>
            <li><a data-scroll href="{% url 'home' %}">Contato</a></li>
            <li><a data-scroll href="{% url 'area' %}">Área de Atendimento</a></li>
            <li><a data-scroll href="{% url 'representations' %}">Representadas</a></li>
            <li><a data-scroll href="{% url 'register' %}">Área de Clientes</a></li>
        </ul>
    </nav>
</header>
