{% extends 'base.html' %}
{% load static %}

{% block canonical %}
    <link rel="canonical" href="http://www.rvprepresentacao.com.br/representadas/">
{% endblock %}

{% block title %}Representadas - RVP Representação{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Representadas</h2>
    <br><br><br><br>
    <div id="representadas" class="row">
        <div class="col-md-4">
            <!--<h3>Hidráulica, Acessórios e Conexões</h3>-->
            <img class="img-responsive img-rounded" src="{% static 'img/durin.png' %}" alt="Durin">
        </div>
        <div class="col-md-4">
            <!--<h3>Ferramentas</h3>-->
            <img class="img-responsive img-rounded" src="{% static 'img/gamma_logo.png' %}" alt="Gamma">
        </div>
        <div class="col-md-4">
            <!--<h3>Metais</h3>-->
            <img class="img-responsive img-rounded img-center" src="{% static 'img/klmx.png' %}" alt="KLMx">
        </div>
    </div>

    <br><br><br><br>

    <div id="nova-representacao" class="row">
        <h3>Quer sua marca representada por nós?</h3>
        <br>
        <a href="mailto:rvprepresentacao@gmail.com?Subject=Nova Representação" class="btn-lg btn-primary" role="button" >Vamos conversar!</a>
    </div>
</div>
{% endblock %}