{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- COMPANIES -->
<section>
    <div class="sponsors text-align-center row desktop-12 min-h-28 padding-top-2 padding-bottom-1 container">
        <i class="fa fa-5x fa-suitcase" style="color:#3498db"></i>
        <h2>Representadas</h2>

        <h3>Hidráulica, Acessórios e Conexões</h3>
        <div class="sponsor-slider min-h-4">
            <img class="img-responsive" src="{% static 'img/durin.png' %}" alt="Durin">
        </div>

        <h3>Ferramentas</h3>
        <div class="sponsor-slider min-h-3">
            <img class="img-responsive" src="{% static 'img/gamma.png' %}" alt="Gamma">
        </div>

        <h3>Elétrica</h3>
        <div class="sponsor-slider min-h-4 margin-bottom-2">
            <img class="img-responsive" src="{% static 'img/dicompel.png' %}" alt="Dicompel">
        </div><br>

        <h3>Quer sua marca representada por nós?</h3>
        <a class="btn-basic btn-blue" href="mailto:rvprepresentacao@gmail.com?Subject=Nova Representação">Contato</a>
    </div>
</section>
{% endblock %}